body {
  background-color: var(--egg);
}

.card-title {
  text-align: center;
  font-family: var(--font-Title);
  font-weight: 800;
  font-size: 30px;
}
.card-text {
  margin: 10px;
  font-family: var(--font-Title);
  font-weight: 400;
}
